$brown: #443C38;
$line: #D8D8D8;
$grey: #5B5B5B;
$icons: #D6C7A7;
$border_color: #BCBAB6;
$title_color: #070707;

$deskbig: 1920px;
$desksm: 1280px;
$tabletbig: 1024px;
$tablesm: 768px;
$phone: 320px;

$container: 1684px;

$fontfam: 'AvenirNextCyr-Regular';